*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F6F8F9;
}
header{
    background-color: white;
    height: 5rem;
    
}

header img{
    margin-left: 1rem;
    padding: 0.5rem;
    line-height: 1rem;
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
}


main{
    background-color: white;
    width: 80rem;
    margin: 3rem auto;
    border-radius: 4px;
}

#window{
    margin-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#headSect{
    
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
    
}

#headSect div{
    height: 3.5rem;
    border-bottom: 1px solid #F6F8F9;
}



#headSect span{
    border-radius: 3px;
    vertical-align: middle;
    padding: 0.5rem 0.7rem;
}

#taskFunc{
    background-color: #47ADF1;
    border: 0px;
    color: white;
}

#addSectFunc{
    border: 1px solid #9f9f9f;
    color: #9f9f9f;
}

#bodySect > div{
    margin: 2rem 0rem;

}

div h3:before{
    position: relative;
    content: "\27A4";
    transform: rotate(90deg); 
    /* non riesco a girare la freccia */
}



div h3{
    margin-bottom: 0.5rem;
    position: ;
    
}

.toDoTask{
    margin-bottom: 1rem;

}

.done:before{
    content: "\2713";
    padding-right: 0.5rem;
    
    
}

.notDone:before{
    content: "\2717";
    padding-right: 0.5rem;
    
    
}

.typeContent{
    padding: 0.3rem 1rem;
    border-radius: 10px;
    color: white;
}

.typeContent.edit{
    background-color: #45ABEA;
}

.typeContent.goal{
    background-color: #9C72E4;
}

.typeContent.recruit{
    background-color: #64C0A9;
}

.typeContent.mobile{
    background-color: #F29E33;
}

.typeContent.webCont{
    background-color: #D863A1;
}

.typeContent.sale{
    background-color: #B0C926;
}